<!DOCTYPE html>
<html lang="en" class="full-height" data-livestyle-extension="available">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Vladimir Danylevski</title>

    <!-- Meta -->
    <meta property="title" content="Python Follower">
    <meta property="description" content="Python and Data Science. ">
    <meta property="url" content="https://danylev.ski">
    <meta property="site_name" content="danylev.ski">
    <!-- Meta -->

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Python and Data Science">
    <meta name="twitter:title" content="VDA">
    <meta name="twitter:site" content="@VladimirDanylev">
    <meta name="twitter:image" content="">
    <meta name="twitter:creator" content="@VladimirDanylev">
    <!-- Twitter Card -->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="./css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="./css/mdb.css" rel="stylesheet">

    <!-- Your custom styles (optional) -->
    <link href="./css/style.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon" />
</head>

<body class="cyan-skin intro-page cafe-lp">

    <!--Navigation & Intro-->
    <header>

        <!--Navbar-->

        <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar">

            <div class="container">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="index.html">
                    <img src="./img/logo_small.png">
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">

                    <!--Links-->
                    <ul class="navbar-nav mr-auto smooth-scroll">
                    </ul>

                    <!--Social Icons-->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" target="_blank" href="mailto:v@danylev.ski"><i class="fa fa-envelope"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" target="_blank" href="https://telegram.me/danylev"><i class="fa fa-paper-plane"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" target="_blank" href="https://twitter.com/VladimirDanylev"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" target="_blank" href="https://www.instagram.com/vladimirdanylevsky"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!--/Navbar-->

        <!--Mask-->
        <div class="view intro" id="home">
            <div class="hm-black-strong-1">
                <div class="full-bg-img flex-center">
                    <div class="container">
                        <div class="row smooth-scroll">
                            <div class="col-md-12 text-center pt-3 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                                <h1 class="white-text brand-name font-up font-bold">404</h1>
                                <!-- First row -->
                                <div class="row">
                                    <div class="col-md-12 div-color">
                                    </div>
                                </div>
                                <!--End of First row -->
                                <h2 class="font-up white-text mb-2">This isn't page you'are looking for.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--/Main content-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="./js/jquery-3.1.1.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="./js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="./js/mdb.min.js"></script>
    <script type="text/javascript" src="./js/add.js"></script>
    <script>
        //Animation init
        new WOW().init();

        // Material Select Initialization
        $(document).ready(function() {
            $('.mdb-select').material_select();
        });
    </script>



    <div class="hiddendiv common"></div>
</body>

</html>
