<!DOCTYPE html>
<html lang="en" class="full-height" data-livestyle-extension="available">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Vladimir Danylevski</title>

    <!-- Meta -->
    <meta property="title" content="Python Follower">
    <meta property="description" content="Python and Data Science. ">
    <meta property="url" content="https://danylev.ski">
    <meta property="site_name" content="danylev.ski">
    <!-- Meta -->

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Python and Data Science">
    <meta name="twitter:title" content="VDA">
    <meta name="twitter:site" content="@VladimirDanylev">
    <meta name="twitter:image" content="">
    <meta name="twitter:creator" content="@VladimirDanylev">
    <!-- Twitter Card -->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="./css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="./css/mdb.css" rel="stylesheet">

    <!-- Your custom styles (optional) -->
    <link href="./css/style.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon" />
</head>

<body class="cyan-skin intro-page cafe-lp">

    <!--Navigation & Intro-->
    <header>

        <!--Navbar-->

        <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar">

            <div class="container">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="#">
                    <img src="./img/logo_small.png">
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">

                    <!--Links-->
                    <ul class="navbar-nav mr-auto smooth-scroll">
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="#home">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="#about">About<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="#education">Education<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="#toolbelt">Toolbelt<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>

                    <!--Social Icons-->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" target="_blank" href="mailto:v@danylev.ski"><i class="fa fa-envelope"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" target="_blank" href="https://telegram.me/danylev"><i class="fa fa-paper-plane"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" target="_blank" href="https://twitter.com/VladimirDanylev"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" target="_blank" href="https://www.instagram.com/vladimirdanylevsky"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!--/Navbar-->

        <!--Mask-->
        <div class="view intro" id="home">
            <div class="hm-black-strong-1">
                <div class="full-bg-img flex-center">
                    <div class="container">
                        <div class="row smooth-scroll">
                            <div class="col-md-12 text-center pt-3 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                                <h1 class="white-text brand-name font-up font-bold">Python follower</h1>
                                <!-- First row -->
                                <div class="row">
                                    <div class="col-md-12 div-color">
                                        <div class="divider-new div-blue">
                                            <i class="fa fa-users fa-3x"></i>
                                        </div>
                                    </div>
                                </div>
                                <!--End of First row -->
                                <h2 class="font-up white-text mb-2">Part of awesome community and marvelous ecosystem</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- First container -->
        <div class="container">
            <!--Section: about-->
            <br id="about">
            <section class="section mt-4 feature-box">
                <!--Secion heading-->
                <h1 class="text-center font-up font-bold mt-1 wow fadeIn white-text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">Welcome to my personal site</h1>
                <!--Section description-->
                <p class="text-center font-up font-bold mb-2 wow fadeIn white-text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">You can find here the following</p>
                <!--First row-->
                <div class="row">
                    <!--First column-->
                    <div class="col-md-4 wow" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: rotateInUpLeft;">
                        <!--Row-->
                        <div class="row text-center pb-2">
                            <div class="col-md-12 pb-2">
                                <div class="circle-icon">
                                    <a onclick="toastr.warning('Under construction, I will add this sestion in few weeks, stay calm and wait :)');"><i class="fa fa-tv fa-3x mdb-color-text text-lighten-5"></i></a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h4 class="white-text feature-title">Python code snippets</h4>
                                <p class="grey-text">You can find here Jupytre notebooks with python code snippets. Each notebook represent unique topic, with all necceseary notes about it.</p>
                            </div>
                        </div>
                        <!--End of row-->
                        <!--Row-->
                        <div class="row text-center pb-2">
                            <div class="col-md-12 pb-2">
                                <a onclick="toastr.warning('Under construction, I will add this sestion in few weeks, stay calm and wait :)');"><i class="fa fa-clone fa-3x mdb-color-text text-lighten-5"></i></a>
                            </div>
                            <div class="col-md-12">
                                <h4 class="white-text feature-title">My blogspot</h4>
                                <p class="grey-text">Short notes about Python and it ecosystem.</p>
                            </div>
                        </div>
                        <!--End of row-->

                    </div>
                    <!--End of first column-->
                    <!-- Middle image -->
                    <div class="col-md-4 pb-2 flex-center wow" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomInUp;">
                        <img src="./img/python.svg" alt="" class="z-depth-0">
                    </div>
                    <!-- End of middle image -->
                    <!-- Second column -->
                    <div class="col-md-4 wow" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: rotateInUpRight;">
                        <!-- Row -->
                        <div class="row text-center pb-2">
                            <div class="col-md-12 pb-2">
                                <a onclick="toastr.warning('Under construction, I will add this sestion in few weeks, stay calm and wait :)');"><i class="fa fa-database fa-3x mdb-color-text text-lighten-5"></i></a>
                            </div>
                            <div class="col-md-12">
                                <h4 class="white-text feature-title">Datasets</h4>
                                <p class="grey-text">I have a few datasets. I think you will find it intersting.</p>
                            </div>
                        </div>
                        <!-- End of row -->
                        <!-- Row -->
                        <div class="row text-center pb-2">
                            <div class="col-md-12 pb-2">
                                <a onclick="toastr.warning('Under construction, I will add this sestion in few weeks, stay calm and wait :)');"><i class="fa fa-bar-chart fa-3x mdb-color-text text-lighten-5"></i></a>
                            </div>
                            <div class="col-md-12">
                                <h4 class="white-text feature-title">Visualization</h4>
                                <p class="grey-text">Viasualization of mine datasets with Seaborn and Bokeh.</p>
                            </div>
                        </div>
                        <!-- End of row -->
                    </div>
                </div>
            </section>
        </div>
        <!-- End of first container-->
        <!-- Education streak-->
        <div class="streak streak-photo streak-large view photo-1 hr-streak" id="education">
            <div class="hm-black-strong-1">
                <div class="mask flex-center">
                    <div class="container">
                        <div class="row text-white flex-center text-center mt-1 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <h1 class="brand-name font-up">Education</h1>
                            <hr class="hr-light w-100">
                            <h2 class="font-up pt-1"><strong></strong></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of streak-->
        <!--Second container-->
        <div class="container">
            <!--Section: education-->
            <section class="section">
                <br>
                <!--First row-->
                <div class="row text-center">
                    <!--First column-->
                    <div class="col-lg-6 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: rotateInUpLeft;">
                        <!--Card-->
                        <div class="card author-card noshadow">
                            <!--Background image-->
                            <div class="card-up">
                                <a href="http://kpi.ua/" target="_blank"><img src="./img/kpi.jpg" class="img-fluid"></a>
                            </div>
                            <!--Picture-->
                            <div class="avatar">
                                <a href="http://pma.fpm.kpi.ua/en" target="_blank"><img src="./img/blackLogo.png" class="img-fluid img-author noshadow"></a>
                            </div>
                            <!-- End of picture -->
                            <div class="card-block">
                                <!--Name-->
                                <h4 class="white-text card-title"><strong>Kiyv Polytechnic Institute</strong></h4>
                                <!--Description-->
                                <p class="white-text">Earned bachelord's degree in field of applied mathematics on faculty of applied mathematic, back in 2015. Topic of my diploma work is "Prediction of hospitalization time for patiens with non-hospital pneumonia".</p>
                                <br>
                            </div>
                        </div>
                        <!-- Card-->
                    </div>
                    <!--First column-->
                    <div class="col-lg-6 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: rotateInUpRight;">
                        <!--Card-->
                        <div class="card author-card noshadow">
                            <!--Background image-->
                            <div class="card-up">
                                <a href="http://www.univ.kiev.ua/" target="_blank"><img src="./img/red_campus.jpg" class="img-fluid"></a>
                            </div>
                            <!--Avatar-->
                            <div class="avatar">
                                <a href="http://cyb.univ.kiev.ua/" target="_blank"><img src="./img/kib.png" class="img-fluid img-author noshadow"></a>
                            </div>
                            <div class="card-block">
                                <!--Name-->
                                <h4 class="white-text card-title"><strong>Kiyv National University</strong></h4>
                                <!--Description-->
                                <p class="white-text">Achieved master's degree in field of operational research and apllication programming on faculty of computer science and cybernetics. Topic of my diploma work "Classification of art works using artificial neural network
                                    by distiguishing morphological and stylistical features of a text"</p>
                            </div>
                        </div>
                        <!--/.Card-->
                    </div>
                </div>
            </section>
        </div>
        <!-- Toolbelt streak  -->
        <div class="streak streak-photo streak-vlarge view photo-2 hr-streak" id="toolbelt">
            <div class="hm-black-strong-1">
                <div class="mask flex-center">
                    <div class="container">
                        <!--First row-->
                        <div class="row text-white flex-center text-center mt-1 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <h1 class="brand-name font-up">My toolbelt</h1>
                            <hr class="hr-light w-100">
                            <h2 class="font-up pt-1"><strong>Skills and tools that I use</strong></h2>
                        </div>
                        <!--/First row-->
                    </div>
                </div>
            </div>
        </div>
        <!--Section: education-->

        <!--Section: Testimonials v.3-->

        <!--/Second container-->
        <div class="container">

            <!--Section: Details-->
            <section id="events" class="section mt-4">
                <!--First row-->
                <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">

                    <div class="col-xl-3 col-md-4">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs md-pills pills-vda flex-column flex-column" role="tablist">
                            <li class="nav-item waves-effect waves-light">
                                <a class="nav-link active white-text" data-toggle="tab" href="#panel21" role="tab" aria-expanded="true"><i class="fa fa-terminal"></i> Programming</a>
                            </li>
                            <li class="nav-item waves-effect waves-light">
                                <a class="nav-link white-text" data-toggle="tab" href="#panel22" role="tab" aria-expanded="false"><i class="fa fa-gears"></i> Tools</a>
                            </li>
                            <li class="nav-item waves-effect waves-light">
                                <a class="nav-link white-text" data-toggle="tab" href="#panel23" role="tab" aria-expanded="false"><i class="fa fa-star"></i> Side knowledge</a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-xl-9 col-md-8">

                        <!-- Tab panels -->
                        <div class="tab-content vertical">

                            <!--Panel 1-->
                            <div class="tab-pane fade in active show" id="panel21" role="tabpanel" aria-expanded="true">
                                <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">

                                    <!--First column-->
                                    <div class="col-lg-4 col-md-12">
                                        <!--Card-->
                                        <div class="card card-cascade narrower" style="background-image: url('./img/tools_3_bg.jpg')">

                                            <!--Card image-->
                                            <div class="view overlay hm-zoom hm-white-slight">
                                                <img src="./img/tools_1.jpg" class="img-fluid" alt="">
                                                <a>
                                                    <div class="mask waves-effect waves-light"></div>
                                                </a>
                                            </div>
                                            <!--/.Card image-->

                                            <!--Card content-->
                                            <div class="card-block">
                                                <h3 class="flex-center white-text text-fluid">Fundamental</h3>
                                                <h3 class="flex-center white-text text-fluid">toolset</h3>
                                                <br>

                                                <!--Title-->
                                                <h4 class="card-title"></h4>
                                                <!--Text-->
                                                <p class="card-text grey-text"></p>

                                            </div>
                                            <!--/.Card content-->

                                        </div>
                                        <!--/.Card-->
                                    </div>
                                    <!--/First column-->

                                    <!--Second column-->
                                    <div class="col-lg-4 col-md-12">
                                        <!--Card-->
                                        <div class="card card-cascade narrower" style="background-image: url('./img/tools_2_bg.jpg')">

                                            <!--Card image-->
                                            <div class="view overlay hm-zoom hm-white-slight">
                                                <img src="./img/tools_2.jpg" class="img-fluid" alt="">
                                                <a>
                                                    <div class="mask waves-effect waves-light"></div>
                                                </a>
                                            </div>
                                            <!--/.Card image-->

                                            <!--Card content-->
                                            <div class="card-block">
                                                <h3 class="flex-center white-text text-fluid ">My passion</h3>
                                                <br>
                                                <br>
                                                <br>
                                                <!--Title-->
                                                <h4 class="card-title"></h4>
                                                <!--Text-->
                                                <p class="card-text grey-text"></p>

                                            </div>
                                            <!--/.Card content-->

                                        </div>
                                        <!--/.Card-->
                                    </div>
                                    <!--/Second column-->

                                    <!--Third column-->
                                    <div class="col-lg-4 col-md-12">
                                        <!--Card-->
                                        <div class="card card-cascade narrower" style="background-image: url('./img/tools_1_bg.jpg')">

                                            <!--Card image-->
                                            <div class="view overlay hm-zoom hm-white-slight">
                                                <img src="./img/tools_3.jpg" class="img-fluid" alt="">
                                                <a>
                                                    <div class="mask waves-effect waves-light"></div>
                                                </a>
                                            </div>
                                            <!--/.Card image-->

                                            <!--Card content-->
                                            <div class="card-block">
                                                <h4 class="flex-center black-text">Data</i></h4>
                                                <h4 class="flex-center black-text">Visualisation</i></h4>
                                                <br>
                                                <br>
                                                <!--Title-->
                                                <h4 class="card-title"></h4>
                                                <!--Text-->
                                                <p class="card-text grey-text"></p>

                                            </div>
                                            <!--/.Card content-->

                                        </div>
                                        <!--/.Card-->
                                    </div>

                                </div>
                            </div>
                            <!--/.Panel 1-->

                            <!--Panel 2-->
                            <div class="tab-pane fade" id="panel22" role="tabpanel" aria-expanded="false">
                                <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">

                                    <!--First column-->
                                    <div class="col-lg-4 col-md-12">
                                        <!--Card-->
                                        <div class="card card-cascade narrower" style="background-image: url('./img/tools_4_bg.jpg')">

                                            <!--Card image-->
                                            <div class="view overlay hm-zoom hm-white-slight">
                                                <img src="./img/tools_4.jpg" class="img-fluid" alt="">
                                                <a>
                                                    <div class="mask waves-effect waves-light"></div>
                                                </a>
                                            </div>
                                            <!--/.Card image-->

                                            <!--Card content-->
                                            <div class="card-block">
                                                <h4 class="flex-center black-text text-fluid">Great IDE</h4>
                                                <br>
                                                <!--Title-->
                                                <h4 class="card-title"></h4>
                                                <!--Text-->
                                                <p class="card-text grey-text"></p>

                                            </div>
                                            <!--/.Card content-->

                                        </div>
                                        <!--/.Card-->
                                    </div>
                                    <!--/First column-->

                                    <!--Second column-->
                                    <div class="col-lg-4 col-md-12">
                                        <!--Card-->
                                        <div class="card card-cascade narrower" style="background-image: url('./img/tools_5_bg.jpg')">

                                            <!--Card image-->
                                            <div class="view overlay hm-zoom hm-white-slight">
                                                <img src="./img/tools_5.jpg" class="img-fluid" alt="">
                                                <a>
                                                    <div class="mask waves-effect waves-light"></div>
                                                </a>
                                            </div>
                                            <!--/.Card image-->

                                            <!--Card content-->
                                            <div class="card-block">
                                                <h5 class="flex-center black-text text-fluid">--everything-is-local</i></h5>
                                                <br>
                                                <!--Title-->
                                                <h4 class="card-title"></h4>
                                                <!--Text-->
                                                <p class="card-text grey-text"></p>

                                            </div>
                                            <!--/.Card content-->

                                        </div>
                                        <!--/.Card-->
                                    </div>
                                    <!--/Second column-->

                                    <!--Third column-->
                                    <div class="col-lg-4 col-md-12">
                                        <!--Card-->
                                        <div class="card card-cascade narrower" style="background-image: url('./img/tools_6_bg.jpg')">

                                            <!--Card image-->
                                            <div class="view overlay hm-zoom hm-white-slight">
                                                <img src="./img/tools_6.jpg" class="img-fluid" alt="">
                                                <a>
                                                    <div class="mask waves-effect waves-light"></div>
                                                </a>
                                            </div>
                                            <!--/.Card image-->

                                            <!--Card content-->
                                            <div class="card-block">
                                                <h4 class="flex-center white-text text-fluid"></i>Awesome editor</h4>
                                                <br>
                                                <!--Title-->
                                                <h4 class="card-title"></h4>
                                                <!--Text-->
                                                <p class="card-text grey-text"></p>

                                            </div>
                                            <!--/.Card content-->

                                        </div>
                                        <!--/.Card-->
                                    </div>

                                </div>
                            </div>
                            <!--/.Panel 2-->

                            <!--Panel 3-->
                            <div class="tab-pane fade" id="panel23" role="tabpanel" aria-expanded="false">
                                <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">

                                    <!--First column-->
                                    <div class="col-lg-4 col-md-12">
                                        <!--Card-->
                                        <div class="card card-cascade narrower" style="background-image: url('./img/tools_7_bg.jpg')">

                                            <!--Card image-->
                                            <div class="view overlay hm-zoom hm-white-slight">
                                                <img src="./img/tools_7.jpg" class="img-fluid" alt="">
                                                <a>
                                                    <div class="mask waves-effect waves-light"></div>
                                                </a>
                                            </div>
                                            <!--/.Card image-->

                                            <!--Card content-->
                                            <div class="card-block">
                                                <h4 class="flex-center white-text text-fluid">Drop</h4>
                                                <h4 class="flex-center white-text text-fluid">of perfectionism</h4>
                                                <br>
                                                <br>
                                                <!--Title-->
                                                <h4 class="card-title"></h4>
                                                <!--Text-->
                                                <p class="card-text grey-text"></p>

                                            </div>
                                            <!--/.Card content-->

                                        </div>
                                        <!--/.Card-->
                                    </div>
                                    <!--/First column-->

                                    <!--Second column-->
                                    <div class="col-lg-4 col-md-12">
                                        <!--Card-->
                                        <div class="card card-cascade narrower" style="background-image: url('./img/tools_8_bg.jpg')">

                                            <!--Card image-->
                                            <div class="view overlay hm-zoom hm-white-slight">
                                                <img src="./img/tools_8.jpg" class="img-fluid" alt="">
                                                <a>
                                                    <div class="mask waves-effect waves-light"></div>
                                                </a>
                                            </div>
                                            <!--/.Card image-->

                                            <!--Card content-->
                                            <div class="card-block">
                                                <h4 class="flex-center black-text text-fluid">Fast</h4>
                                                <h4 class="flex-center black-text text-fluid">Grower</h4>
                                                <br>
                                                <br>
                                                <!--Title-->
                                                <h4 class="card-title"></h4>
                                                <!--Text-->
                                                <p class="card-text grey-text"></p>
                                            </div>
                                            <!--/.Card content-->

                                        </div>
                                        <!--/.Card-->
                                    </div>
                                    <!--/Second column-->

                                    <!--Third column-->
                                    <div class="col-lg-4 col-md-12">
                                        <!--Card-->
                                        <div class="card card-cascade narrower" style="background-image: url('./img/tools_9_bg.jpg')">

                                            <!--Card image-->
                                            <div class="view overlay hm-zoom hm-white-slight">
                                                <img src="./img/tools_9.jpg" class="img-fluid" alt="">
                                                <a>
                                                    <div class="mask waves-effect waves-light"></div>
                                                </a>
                                            </div>
                                            <!--/.Card image-->

                                            <!--Card content-->
                                            <div class="card-block">
                                                <h4 class="flex-center black-text text-fluid">Even more</h4>
                                                <h4 class="flex-center black-text text-fluid">tech staff</h4>
                                                <br>
                                                <br>
                                                <!--Title-->
                                                <h4 class="card-title"></h4>
                                                <!--Text-->
                                                <p class="card-text grey-text"></p>
                                            </div>
                                            <!--/.Card content-->

                                        </div>
                                        <!--/.Card-->
                                    </div>

                                </div>

                            </div>
                            <!--/.Panel 3-->

                        </div>

                    </div>

                </div>
                <!--/First row-->

            </section>
            <!--/Section: Details-->

        </div>
        <div class="streak streak-photo streak-vlarge view photo-3 hr-streak" id="toolbelt">
            <div class="hm-black-strong-1">
                <div class="mask flex-center">
                    <div class="container">
                        <!--First row-->

                        <!--/First row-->
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--/Main content-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="./js/jquery-3.1.1.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="./js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="./js/mdb.min.js"></script>
    <script type="text/javascript" src="./js/add.js"></script>
    <script>
        //Animation init
        new WOW().init();

        // Material Select Initialization
        $(document).ready(function() {
            $('.mdb-select').material_select();
        });
    </script>



    <div class="hiddendiv common"></div>
</body>

</html>
